@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background: linear-gradient(to right, #8300cd, #b800c4);
}